.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        f
      %ul.main-header__left-box__member-list
        member
        %li.main-header__left-box__member-list__member
          たが
    = link_to edit_group_path(@group), class: "main-header__edit-btn" do
      = icon('fab', class: "edit-btn--icon",)
      %span<>
        Edit
     
  .messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: "submit-btn"

          

 

     
   

