.chat-side
 .side_bar
  .side_bar__box
   %p.side_bar__box__user-name 
    = current_user.name
   %ul.side_bar__box__menu
    = link_to new_group_path, class: "side_bar__box__edit-user " do
     = icon('fas', 'edit', class: "edit-user--icon")
    = link_to edit_user_path(current_user), class: "side_bar__box__new-groups" do
     = icon('fas', 'cog', class: "new-groups--icon")
   
 .groups
  - current_user.groups.each do |group|
   = link_to "#", class:"group" do
    %p.group__group-name
     = group.name  
    %p.group__latest-message
     = group.show_last_message
   